@using PickUpOrder.Models

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the menu.</h2>

<table>
    <thread>
        <tr>
            <td>Name</td>
            <td>Price (cents)</td>
        </tr>
    </thread>
    @foreach (PickUpOrder.Models.MenuItem item in ViewBag.Menu)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@Html.ActionLink("Add to Order", "AddToOrder", "Index", new { id = item.ID }, null)</td>
        </tr>
        <tr>
            <td>@item.Description</td>
        </tr>
    }
</table>

<h2>Order details</h2>
<h2>Number of orders: @ViewBag.NumOrders</h2>
@foreach (PickUpOrder.Models.MenuItem item in ViewBag.OrderItems)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Price</td>
    </tr>
}