@using PickUpOrder.Models

@{
    ViewBag.Title = "Index";
    var db = new PickUpOrderDBEntities2();
    var mostRecentOrder = db.Orders.Find(1);
}

<h2>Welcome to the menu.</h2>

@* Display every item in the menu. *@
<table>
    <thread>
        <tr>
            <td>Name</td>
            <td>Price</td>
        </tr>
    </thread>
    @foreach (PickUpOrder.Models.MenuItem item in ViewBag.Menu)
    {
        <tr>
            <td>@item.Name</td>
            <td>$@((item.Price / 100.0).ToString("0.00"))</td>
            <td>@Html.ActionLink("Add to Order", "AddToOrder", "Index", item, null)</td>
        </tr>
        <tr>
            <td>@item.Description</td>
        </tr>
    }
</table>

@* If there is an order associated with the user, display it. *@
@* Note: right now, it only ever checks row 1.*@
@if (mostRecentOrder != null)
{
    <h2>Order details</h2>
    <h2>Contents: @mostRecentOrder.OrderContents</h2>
    <table>
        @foreach (PickUpOrder.Models.MenuItem item in mostRecentOrder.ContentsToItemList())
        {
        <tr>
            <td>@item.Name</td>
            <td>$@((item.Price / 100.0).ToString("0.00"))</td>
        </tr>
        }
    </table>
    <h2>Total cost: $@mostRecentOrder.CalcFinalCost()</h2>
}