@* EditItem - A form page that allows for the renaming of a category. *@

@using PickUpOrder.Models;
@model Category
@{
    ViewBag.Title = "Edit Category";
}

<h2>Renaming @Model.CategoryName...</h2>
<h5>@Html.ActionLink("Help", "Help", "MenuEditor")</h5>

@* A link to return without saving changes. *@
@Html.ActionLink("Leave without saving", "MenuEditor", "MenuEditor")

@using (Html.BeginForm("EditCategory", "MenuEditor", FormMethod.Post))
{
    @* This saves the CategoryID so the current category can be found later. *@
    @Html.HiddenFor(m => m.CategoryID)

    <h3>Name</h3>
    @Html.TextBoxFor(m => m.CategoryName, new { required = "required" })
    <br />
    <input type="submit" value="Rename" />
}